body {
  background: #111;
  box-sizing: border-box; }
  body .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  body header {
    font-family: Verdana;
    background: url("../img/headerBackground.jpg");
    background-repeat: no-repeat;
    height: 315px;
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    background-color: #efefef; }
    body header #menu-wrapper {
      max-width: 900px;
      width: auto;
      box-sizing: border-box;
      position: absolute;
      top: 270px;
      border-bottom: 1px solid #fff; }
      body header #menu-wrapper div {
        color: #fff;
        position: absolute;
        display: block;
        top: -160%;
        right: -40%;
        font-size: 2.5rem;
        font-weight: bold;
        z-index: 5; }
      body header #menu-wrapper nav ul li {
        float: left;
        border-right: 1px solid #fff;
        display: inline-block;
        padding-top: 15px;
        padding-bottom: 15px; }
        body header #menu-wrapper nav ul li a {
          font-size: 1.7rem;
          text-transform: uppercase;
          color: #626161;
          padding: 30px;
          vertical-align: middle; }
        body header #menu-wrapper nav ul li a:hover {
          color: #fff; }
      body header #menu-wrapper nav ul li:hover {
        background-color: ButtonShadow;
        opacity: 0.8;
        transition: all 0.5s ease; }
  body #wrapper {
    margin: 0 auto;
    width: auto;
    max-width: 900px;
    box-sizing: border-box;
    background: #fff;
    font-family: Verdana;
    height: 100%; }
    body #wrapper h1 {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #84be19;
      margin: 20px; }
    body #wrapper section {
      border: 1px solid #999;
      border-radius: 10px;
      display: inline-block;
      width: 550px;
      margin: 20px 40px;
      float: left; }
      body #wrapper section p {
        margin: 20px;
        font-size: 1.2rem; }
      body #wrapper section h3 {
        font-size: 1.7rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #84be19;
        margin: 20px; }
      body #wrapper section .wrapper {
        margin: 20px; }
        body #wrapper section .wrapper img {
          display: inline-block; }
        body #wrapper section .wrapper article {
          display: inline-block;
          width: 350px;
          vertical-align: top; }
          body #wrapper section .wrapper article h5 {
            font-size: 1.1rem;
            font-weight: bold;
            margin-left: 20px; }
    body #wrapper aside {
      display: inline-block;
      width: 220px;
      border: 1px solid #999;
      vertical-align: top;
      border-radius: 10px;
      clear: both;
      margin-top: 20px; }
      body #wrapper aside ul {
        margin: 20px; }
        body #wrapper aside ul li {
          margin: 20px 0;
          line-height: 15px; }
          body #wrapper aside ul li .date {
            font-weight: bold;
            font-size: 1.1rem;
            display: block; }
          body #wrapper aside ul li .text {
            display: block; }
          body #wrapper aside ul li a {
            text-decoration: underline;
            color: #84be19;
            padding: 0;
            margin: 0; }
      body #wrapper aside p {
        padding: 0 20px; }
      body #wrapper aside a {
        padding: 20px;
        color: #84be19;
        text-decoration: underline;
        display: inline-block; }
    body #wrapper .news {
      background-color: #efefef; }
  body footer {
    box-sizing: border-box;
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    height: 75px;
    background: #84be19; }
    body footer span {
      padding: 25px 150px;
      display: inline-block;
      font-size: 1.2rem;
      font-family: Verdana; }
      body footer span a {
        color: #000; }
      body footer span a:hover {
        text-decoration: underline; }
  @media only screen and (max-width: 920px) {
    body header {
      width: auto;
      max-width: 100%;
      background: 100%;
      background-color: #efefef;
      height: 50px; }
      body header #menu-wrapper {
        top: 0; }
        body header #menu-wrapper div {
          position: absolute;
          display: inline-block;
          top: -160%;
          right: 5%; }
    body #wrapper {
      padding: 20px 20px; }
    body #wrapper section {
      display: block;
      margin: 0 auto 20px auto;
      width: 95%;
      padding: 0 10px 10px; } }
  @media only screen and (max-width: 670px) {
    body header {
      height: 145px;
      width: auto;
      max-width: 670px;
      margin: 0 auto; }
      body header #menu-wrapper {
        width: 100%; }
        body header #menu-wrapper nav ul li {
          box-sizing: border-box;
          display: block;
          width: 100%;
          padding: 0;
          border: 1px solid #fff; }
          body header #menu-wrapper nav ul li a {
            text-align: center;
            display: block;
            padding: 5px;
            margin: 0 auto; }
    body #wrapper {
      margin: 0 auto;
      padding: 10px 0 0 0; }
      body #wrapper section {
        float: none; }
        body #wrapper section h3 {
          text-align: center; }
        body #wrapper section .wrapper {
          display: block;
          margin: 0 auto; }
          body #wrapper section .wrapper img {
            display: block;
            margin: 10px auto; }
          body #wrapper section .wrapper article {
            display: block;
            margin: 10px auto;
            width: auto; }
    body footer span {
      padding: 15px 50px; } }
  @media only screen and (max-width: 480px) {
    body #wrapper aside {
      display: block;
      margin: 20px auto; } }

